$gradient-gray:linear-gradient(90deg, #D9D9D9 0%, #A1A1A1 100%);
$main-gradient:linear-gradient(63.53deg, #2D8550 16.62%, #5E6EC2 83.38%);
$main-gradient-light:linear-gradient(63.53deg, #FD98BB 16.62%, #FFB2AD 83.38%);
$gradient:linear-gradient(90deg, #FFD748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #CAC6AB 99.98%, #D3E9E1 99.99%);
$dark-yellow:linear-gradient(180deg, #FFB903 0%, #FFCA01 100%);
$brand-gradient:linear-gradient(266.19deg, #169AE4 0%, #0CC4FA 100%);
$cheap-gradient:linear-gradient(266.19deg, #8049C7 0%, #CA57FD 100%);